<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aksiide.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>%project.name%</name>
    <description>
        A sample Cordova application generated with AksiIDE.
    </description>
    <author email="support@aksiide.com" href="http://www.aksiide.com">
        AksiIDE Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
